<div id="<%= container_id %>" class="wysiwyg-toolbar" style="display: none;">
  <a data-wysihtml5-command="bold" class="fa fa-bold" title="bold"></a>
  <a data-wysihtml5-command="italic" class="fa fa-italic" title="italicize"></a>
  <a data-wysihtml5-command="createLink" class="fa fa-link" title="add link"></a>
  <a data-wysihtml5-action="change_view" class="fa fa-code"></a>
  <div data-wysihtml5-dialog="createLink" style="display: none;" class="wysiwyg-dialog">
    <label>
      <input data-wysihtml5-dialog-field="href" value="http://" class="text">
    </label>
    <a data-wysihtml5-dialog-action="save">OK</a> <a data-wysihtml5-dialog-action="cancel">Cancel</a>
  </div>
</div>