<div class="pure-g-r container">

  <div class="pure-u-1-2">
    <div class="padded">
      <h1>Your Village, Your Story</h1>
      <h3>Greenwich Village Oral History Project by NYPL</h3>
      <p>
        Your Village, Your Story: Greenwich Village Oral History Projectis an oral history project that works to both preserve and 
        document neighborhood history through the stories of longtime residents. This project will collect stories of people who have 
        lived in the neighborhood for over 20 years, train community members to conduct these interviews, and share all interviews 
        in a public archive and on the New York Public Library website, using these recordings as a springboard for public programming.
      </p>
    </div>
  </div>
  <div class="pure-u-1-2">
    <div class="padded">
    <img src="http://placehold.it/600x400" />
    </div>
  </div>

</div>
