<% content_for :head do %>
  <%= stylesheet_link_tag    "admin/annotations", :media => "all" %>
  <%= javascript_include_tag "admin/annotations.vis" %>
<% end %>


<div id="annotations" class="vis">
  
  
</div>
