<% content_for :head do %>
  <%= stylesheet_link_tag    "pages", :media => "all" %>
<% end %>

<h1>About</h1>

<p>
The New York Public Library's Community Oral History Project is an initiative taking place throughout the NYPL system that aims to document, celebrate, and make accessible the rich history of the city's unique neighborhoods by collecting the stories of people who have experienced it firsthand.
</p>

<h2>Background</h2>

<p>
Beginning in 2013 at Jefferson Market Library, The New York Public Library has been running the Community Oral History Project. This NYC initiative aims to document, preserve, and celebrate the rich history of the city's unique neighborhoods by collecting the stories of people who have experienced it firsthand. To date, more than one thousand stories have been collected by close to three hundred community volunteers. All recordings are available on this site and will be archived in the Library's <a href="http://www.nypl.org/locations/divisions/milstein">Irma and Paul Milstein Division of United States History, Local History and Genealogy</a> research collection.
</p>

<h2>Get Involved</h2>

<p>To find out when NYPL's Community Oral History Project will be coming to your neighborhood, learn how to get involved, or share your story, please contact <a href="mailto:oralhistory@nypl.org?Subject=Community%20Oral%20History%20Project" target="_top">oralhistory@nypl.org</a>. Check the <a href="http://www.nypl.org/events/calendar?keyword=&location=&type=&topic=&audience=&series=270270&date_op=GREATER_EQUAL&date1=03%2F30%2F2016">NYPL Oral History series</a> for upcoming programming around the collection of these stories.</p>

<p>
Interested in helping make these stories accessible? Visit <a href="/improve">Improve</a> to learn about ways you can get involved online and in person to help make our NYC story archive accessible.
</p>
