SECRET_TOKEN: xxx
DEVISE_SECRET_TOKEN: xxx
AWS_ACCESS_KEY: xxx
AWS_SECRET_KEY: xxx
S3_IMAGE_BUCKET_NAME: xxx
GOOGLE_ANALYTICS_ID: xxx
development:
  GOOGLE_CLIENT_ID: xxx
  GOOGLE_CLIENT_SECRET: xxx
test:
  GOOGLE_CLIENT_ID: xxx
  GOOGLE_CLIENT_SECRET: xxx
production:
  GOOGLE_CLIENT_ID: xxx
  GOOGLE_CLIENT_SECRET: xxx
