<div id="status" class="status">
  <span id="current-time">-:--:--</span> /
  <span id="duration">-:--:--</span>
</div>

<div id="media" data-url="<%= @interview.url %>"></div>

<div id="annotations" class="annotations"><a class="delete-selected">Delete Selected Annotation</a></div>

<div id="timeline" class="timeline">
  <div id="progress" class="progress"></div>    
</div>