@import "variables";
@import "mixins";

body {
  padding-top: $headerHeight;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $headerHeight;
  line-height: $headerHeight;
  z-index: 1000;
  background: lighten($grayDarkest, 5%);

  .header-container {
    padding: 0 10px;
    @include clearfix();
  }

  a {
    color: $grayLightest;
    &:hover {
      color: $white;
    }
  }

  .nypl-logo-link {
    @include font-icon("W");
    font-size: 2.3em;
    margin: 4px 6px 0 0;
    vertical-align: middle;
    display: inline-block;
    white-space: nowrap;
    width: 37px;
    overflow: hidden;
  }
  .title-link {
    font-size: 1.4em;
    display: inline-block;
    vertical-align: middle;
    width: 240px;
    height: 40px;
    margin-top: -2px;
    overflow: hidden;
    opacity: 0.9;

    &:hover {
      opacity: 1;
    }

    img {
      margin-left: -50px;
    }
  }

  .crumbs {
    display: inline-block;

    .crumb {
      display: inline-block;
      height: $headerHeight;
      line-height: $headerHeight;
      padding: 0;
      &:before {
        content: "";
        height: 30px;
        width: 2px;
        background: $grayDark;
        display: inline-block;
        margin: 0 20px;
        vertical-align: middle;
        @include transform(rotate(20deg));
      }
    }
  }

  .form-search {
    display: inline-block;
    height: $headerHeight;
    line-height: $headerHeight;
    margin-right: 5px;

    input, button {
      display: inline-block;
    }

    input {
      border: 0;
      height: $headerHeight / 2;
      outline: 0;
      text-indent: 2px;
      padding: 1px 0;
      margin: 0;
      margin-top: -1px;
      vertical-align: middle;
    }

    button {
      border: 0;
      font-size: 0.7em;
      text-transform: uppercase;
      height: $headerHeight / 2 + 2px;
      line-height: $headerHeight / 2 + 2px;
      margin: 0;
      margin-top: -1px;
      padding: 0 0.5em;
      margin-left: -4px;
      background: $grayLighter;
      outline: 0;
      vertical-align: middle;
    }
  }

  .main-nav {
    float: right;

    .nav-link {
      display: inline-block;
      height: $headerHeight;
      line-height: $headerHeight;
      padding: 0 12px;
      text-transform: uppercase;

      &.active,
      &:hover {
        background: rgba($white, 0.2);
      }
    }
  }
}

@media (max-width: 1060px) {
  .header {
    .crumbs {
      display: none;
    }
  }
}
