@import "mixins";

@mixin animation($animation) {
  -webkit-animation: $animation;
  -moz-animation:    $animation;
  -o-animation:      $animation;
  animation:         $animation;
}
@mixin animation-duration($animation_duration) {
  -webkit-animation-duration: $animation_duration;
  -moz-animation-duration:    $animation_duration;
  -o-animation-duration:      $animation_duration;
  animation-duration:         $animation_duration;
}
@mixin animation-delay($animation_delay) {
  -webkit-animation-delay: $animation_delay;
  -moz-animation-delay:    $animation_delay;
  -o-animation-delay:      $animation_delay;
  animation-delay:         $animation_delay;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}

@include keyframes(fade-in-right-big) {  
  from {
    @include opacity(0);
    @include transform(translateX(1000px));
  }

  to {
    @include opacity(1);
    @include transform(translateX(0));
  }
}

@include keyframes(rotate) {  
  from {
    @include transform(rotate(0deg));
  }
  
  to{
    @include transform(rotate(360deg));
  }
}

@include keyframes(swing) {
  20% {
    @include transform(rotate(15deg));
  }
  40% {
    @include transform(rotate(-10deg));
  }
  60% {
    @include transform(rotate(5deg));
  }
  80% {
    @include transform(rotate(-5deg));
  }
  100% {
    @include transform(rotate(0deg));
  }
}