@import "variables";
@import "mixins";
@import "animate";
@import "vendor/jquery-ui-autocomplete.min";

.annotations-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $grayDarker;
}

.go-back-button {
  display: block;
  position: absolute;
  width: 100%;
  height: 30px;
  line-height: 30px;
  top: 0;
  left: 0;
  background: $grayDarkest;
  color: $white;
  font-size: 0.8em;
  &:hover {
    color: $white;
    background: lighten($grayDarkest, 10%);
  }
}

.status {
  position: absolute;
  top: 40px;
  left: 10px;
  color: $white;
  font-size: 2em;
}

.top-button {
  position: absolute;
  top: 40px;
  right: 10px;  
  margin: 0;
  z-index: 10;
  display: block;
  padding: 1em;
  &.hide {
    display: none;
  }
}

.start-button {
  position: absolute;
  bottom: -80px;
  font-size: 0.5em;
  margin: 0;
  padding: 1em 0;
  display: block;
  &.hide {
    display: none;
  }
  @media (max-height: 580px) {
    .start-button {
      bottom: -60px; 
    }
  }
}
.action {
  display: block;
  background: $grayDark;
  color: $white;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  margin: -200px 0 0 -150px;
  cursor: pointer;
  font-size: 2em;
  @include border-radius(150px);
  @include transition(background-color, 0.2s);
  small {
    display: block;
    margin-top: 12px;
    font-size: 0.6em;
  }
  .inner {
    width: 80%;
    margin: 80px auto 0;
  }
  &.active {
    background: $grayLight;
  }
  @media (max-height: 580px) {
    margin-top: 0px;
    top: 50px;
  }
}
.form-wrapper,
.finished {
  background: $grayDark;
  color: $white;
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  margin: -150px 0 0 -250px;
  h4 {
    font-weight: normal;
    font-size: 1.2em;
    margin-top: 0;    
  }
  form {
    font-size: 1.8em;
  }
  .start-button {
    font-size: 1em;
  }
  @media (max-width: 500px) {
    width: 380px;
    margin-left: -190px;
    form {
      font-size: 1.4em;
    }
  }
  @media (max-height: 500px) {
    margin-top: 0px;
    top: 100px;
  }
}

.finished {
  margin-top: -180px;
  .hide-finished {    
    color: lighten($blue, 30%);
    &:hover {
      color: $white;
    }
  }
}

.annotations {
  width: 100%;
  min-height: 30px;
  max-height: 120px;
  position: absolute;
  left: 0;
  bottom: 90px;
  overflow: hidden;
  overflow-y: auto;
  @include clearfix();
  .annotation {
    font-size: 0.8em;
    min-width: 30px;
    height: 30px;
    line-height: 30px;
    padding: 0 6px;
    float: left;
    color: $white;
    cursor: pointer;
    text-align: center;    
    @include transition(padding, 0.5s);
    @include animation(fade-in-right-big 0.5s);
    &:nth-child(6n+0) { 
      background:$green;
    }
    &:nth-child(6n+1) { 
      background:$red;
    }
    &:nth-child(6n+2) {
      background:$yellow;
      color: $grayDarker;
    }
    &:nth-child(6n+3) { 
      background:$purple;
    }
    &:nth-child(6n+4) {
      background:$orange;
    }
    &:nth-child(6n+5) {
      background:$pink;
      color: $grayDarker;
    }
    &.selected {
      padding: 0 20px;
    }
  }
  .delete-selected {
    @include font-icon("x");
    display: none;
    position: absolute;
    left: 6px;
    top: -40px;
    background: $red;
    color: $white;
    padding: 3px 6px;
    cursor: pointer;
    font-size: 0.8em;
    &:hover {
      background: lighten($red, 5%);
    }
    &:before {
      margin-right: 6px;
    }
    &.active {
      display: block;
    }
  }
}

.timeline {
  background: $grayDarkest;
  width: 100%;
  height: 30px;
  position: absolute;
  left: 0;
  bottom: 60px;  
  .progress {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    min-width: 1px;
    background: $gray;
  }
}

.buttons {
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  @include clearfix();
  .annotation-button {
    display: block;
    float: left;
    background: $blue;
    color: $white;
    &:nth-child(odd) {
      background: darken($blue, 10%);
    }
    &:hover {
      background: lighten($blue, 10%);
      color: $white;
    }
    &.hide {
      display: none;
    }
    .key {
      background: $white;
      color: $gray;
      padding: 6px 12px;
      margin-left: 3px;
      @include box-shadow(0, 0, 2px 2px, rgba(0,0,0,.2), inset);
      @media (max-width: 700px) {
        display: none;
      }
    }
  }
}

#media {
  display: none;
}
footer {
  display: none;
}
