@import "variables";
@import "mixins";
@import "player";

#home-container {
  @include clearfix();   
}
.home-sidebar {
  background: $white;
  width: 300px;
  float: left;
  @media (max-width: 550px) {
    float: none;
    width: auto;
  }
}
.home-content {
  background: $grayLightest; 
  width: auto;
  margin-left: 300px;
  @media (max-width: 550px) {
    margin-left: 0;
  }
}
.home-description {
  background: rgba(255,255,255,0.9);
  h1, h2, h3, h4 {
    margin-top: 0.5em;
    margin-bottom: 0;
  }
}

.interviews-list {
  @include clearfix();
  > li {
    position: relative;
    float: left;
    width: 240px;
    height: 280px;
    margin: 20px 0 0 20px;
    padding: 10px;
    overflow: hidden;
    background: $white;
    @include box-shadow(1px, 1px, 2px, $color: rgba(0,0,0,.2));
    &:hover {
      @include box-shadow(2px, 2px, 4px, $color: rgba(0,0,0,.3));
    }
    .image {
      position: relative;
      width: 100%;
      height: 240px;
      background-position: center;
      background-size: cover;
    }
    &:nth-child(6n+0) .image { 
      background-color: $grayDarker;
      color: $grayLightest;
    }
    &:nth-child(6n+1) .image  { 
      background-color: $grayLighter;
      color: $grayDarkest;
    }
    &:nth-child(6n+2) .image  { 
      background-color: $gray;
      color: $white;
    }
    &:nth-child(6n+3) .image  {
      background-color: $grayLight;
      color: $white;
    }
    &:nth-child(6n+4) .image  {
      background-color: $grayDark;
      color: $white;
    }
    &:nth-child(6n+5) .image  {
      background-color: $grayLightest;
      color: $grayDarker;
    }
  }
  .link-overlay {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    top: 0;
    left: 0;
  }
  .caption {
    padding: 15px 0 0;
    height: 20px;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    a {
      display: block;      
      color: $gray;
      font-size: 1.1em;
      &:hover {
        color: $grayLight;
      }
    }
  }
}
