@import "variables";
@import "mixins";
@import "player";

#home-container {
  @include clearfix();
}
.home-sidebar {
  width: 300px;
  float: left;
  @media (max-width: 550px) {
    float: none;
    width: auto;
  }
}
.home-content {
  width: auto;
  margin-left: 300px;
  @media (max-width: 550px) {
    margin-left: 0;
  }
}
.home-description {
  background: rgba(255,255,255,0.9);
  h1, h2, h3, h4 {
    margin-top: 0.5em;
    margin-bottom: 0;
  }
  a {
    
  }
}

.interviews-list {
  @include clearfix();
  > li {
    position: relative;
    float: left;
    width: 100%;
    height: 240px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    @include opacity(0.9);
    @include transition-list(opacity 0.5s, width 0.5s);
    &:hover {
      @include opacity(1);
    }
    &:nth-child(6n+0) { 
      background:$grayDarker;
      a { color: $grayLightest; }
    }
    &:nth-child(6n+1) { 
      background:$grayLighter;
      a { color: $grayDarkest; }
    }
    &:nth-child(6n+2) { 
      background:$gray;
      a { color: $white; }
    }
    &:nth-child(6n+3) {
      background:$grayLight;
      a { color: $white; }
    }
    &:nth-child(6n+4) {
      background:$grayDark;
      a { color: $white; }
    }
    &:nth-child(6n+5) {
      background:$grayLightest;
      a { color: $grayDarker; }
    }
    @media (min-width: 700px) {
      width: percentage(1/2);
    }
    @media (min-width: 940px) {
      width: percentage(1/3);
    }
    @media (min-width: 1200px) {
      width: percentage(1/4);
    }
    @media (min-width: 1500px) {
      width: percentage(1/5);
    }
  }
  img {    
    position: absolute;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    @include transition(top, 0.5s);
  }
  .overlay {
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100%;
    height: 62px;
    z-index: 1;
    background: rgba($grayDarker, 0);
    @include transition-list(bottom 0.5s, background 0.5s);
  }
  .caption {
    height: 20px;
    line-height: 20px;
    padding: 6px;
    a {
      font-size: 1.1em;
      white-space: nowrap;
    }
  }
  > li:hover {
    img {
      top: -10px;
    }
    .overlay {
      z-index: 3;
      bottom: 0;
      background: rgba($grayDarker, 1);
      a {
        color: $grayLighter;
        &:hover {
          color: $white;
        }
      }
    }    
  }
}
