@import "variables";
@import "mixins";
@import "player";
@import "header";
@import "animate";

$container-width: 940px;

.interview-wrapper {
  position: relative;
  width: 100%;
  height: auto;
  background: $grayLightest;

  &:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    @include box-shadow(0px, -20px, 20px, rgba($black,0.2), inset);
  }

  .interview-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    z-index: 0;
    background: center 10% no-repeat;
    background-size: cover;
    opacity: 0.3;
    @include box-shadow(-80px, 0px, 80px, $grayLightest, inset);
  }

  .interview-container {
    position: relative;
    margin: 0 auto;
    max-width: $container-width;
    padding: 2em 1em 0;
    z-index: 1;
    @include box-sizing();
  }

  .storyteller-name h1 {
    text-transform: uppercase;
    margin: 0 0 0.2em;
  }

  .interviewer-name h3 {
    text-transform: uppercase;
    margin: 0 0 1.5em;
  }

  .summary {
    .full {
      display: none;
    }
    .preview {
      display: block;
    }

    &.active {
      .full {
        display: block;
      }
      .preview {
        display: none;
      }
    }
  }

  .transcript-link {
    display: none;
    position: absolute;
    top: 30px;
    right: 20px;

    .button {
      padding: 6px 12px;
      font-size: 0.9em;
    }

    &.active {
      display: block;
    }
  }

  .interview-player {
    .player {
      // @include transition(width, 0.5s);
    }
  }
}

.interview-player {

  &.sticky {
    .player {
      position: fixed;
      top: $headerHeight;
      left: 50%;
      width: 908px;
      margin-left: -454px;
      z-index: 1000;
    }

    .player.big .mejs-container {
      min-width: 98%;
      max-width: 98%;
    }

    @media (max-width: 908px) {
      .player {
        left: 0;
        width: 100%;
        margin-left: 0;
      }
    }
  }
}

.mejs-container {
  min-height: 48px;
}
.mejs-mediaelement,
.mejs-container .mejs-controls {
  max-height: 48px;
}
.mejs-container .mejs-controls .mejs-time span {
  font-size: 16px;
  line-height: 16px;
  margin: 0 9px 0 0;

  &:last-child {
    margin-right: 0;
  }

  &:nth-child(2) {
    color: $grayLight;
    font-style: italic;
  }
}

.secondary-wrapper {
  position: relative;
  margin: 1em auto 0;
  max-width: $container-width;
  padding: 1em;
  @include box-sizing();

  h2 {
    margin-top: 0;
    text-transform: uppercase;
    color: $grayDark;
    border-bottom: 1px solid $grayLightest;
    padding-bottom: 0.2em;
    .button {
      text-transform: none;
    }
  }
}

.annotations-wrapper {

  .annotations-container {
    max-height: 124px;
    overflow: hidden;
    position: relative;
  }

  .annotation {
    display: inline-block;
    background: $grayLight;
    color: $white;
    font-size: 0.8em;
    padding: 0.2em 0.4em;
    margin: 0 0.2em 0.4em 0;
    cursor: pointer;
    &:hover {
      background: lighten($grayLight, 10%);
    }
  }

  .see-more {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    @include box-shadow(0px, -60px, 60px, $white, inset);
  }

  .see-more-link {
    color: $white;
    padding: 4px 12px;
    margin-top: 30px;
    font-size: 0.9em;
  }

  .annotations-container.overflowed {
    @include transition(max-height, 0.5s);

    .see-more {
      display: block;
    }

    &.active {
      max-height: 1000px;
      .see-more {
        display: none;
      }
    }
  }

  .button-add {
    font-size: 0.6em;
    padding: 4px 8px;
    vertical-align: middle;
    margin: 0 0 0 10px;
  }

}

.interview-data {

  dl {
    @include clearfix();
    > div {
      display: inline-block;
      min-width: 25%;
      margin-bottom: 1.8em;
      margin-right: -4px;
      padding-right: 1em;
      line-height: 1.5;
      @include box-sizing();

      &.rights {
        min-width: 100%;
        display: block;
        margin-bottom: 0;
      }
    }
  }

  dt {
    margin-top: 0;
    font-weight: bold;
    text-transform: uppercase;
  }
  dd {
    margin-top: 0.5em;
    margin-left: 0;
  }
}

@media (max-width: 600px) {
  .interview-data {
    dl {
      > div {
        margin-right: 0;
        min-width: 100%;
        display: block;
      }
    }
  }
}

.transcript-wrapper {
  display: none;

  &.active {
    display: block;
  }

  .last-updated-message {
    color: $grayLight;
  }

  .transcript-lines {
    border-top: 1px solid $grayLightest;
    padding-top: 1em;
  }

  .line {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 1.4em;
    position: relative;
    @include clearfix();

    &.active {
      background: $highlight;
    }

    .timestamp {
      width: 60px;
      // color: $grayLight;
      float: left;
      display: block;
    }

    .text {
      margin-left: 80px;
      width: auto;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .edit-link {
      display: none;
      position: absolute;
      top: 5px;
      right: 5px;
      margin: 0;
      padding: 0 12px;
      height: 30px;
      line-height: 30px;
    }

    &:hover {
      .edit-link {
        display: block;
      }
    }
  }
}
