@import "variables";
@import "mixins";
@import "player";
@import "animate";
@import "annotations";

.interview-banner {
  position: relative;
  min-height: 0;
  width: 100%;
  height: 400px;
  background: $grayDark 50% 40% no-repeat;
  background-size: cover;
  @include transition(min-height, 1s);
  .banner-gradient {
    width: 100%;
    height: 120px;
    position: absolute;    
    left: 0;
    a {
      color: $grayLightest;
      &:hover {
        color: $white;
      }
    }
    &.top {
      top: 0;
      @include background-gradient-opacity($grayDarkest, $grayDarkest, 0.6, 0);
    }
    &.bottom {
      bottom: 0;
      @include background-gradient-opacity($grayDarkest, $grayDarkest, 0, 0.6);
    }
  }
  .banner-title {
    padding: 12px;
    color: $white;
    
    @include text-shadow();
    .title {
      font-weight: bold;
      font-size: 3em;
    }   
    .subtitle {      
      font-size: 1.5em; 
      font-weight: normal;     
    }
  }
  .banner-player {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .annotations {
    bottom: 110px;
    z-index: 10;
    display: none;
  }
  .button-toggle-annotations,
  .button-add-annotations {
    position: absolute;
    left: 0;
    bottom: 48px;
  }
  .button-toggle-annotations {
    padding: 1em;
  }
  .button-add-annotations {    
    left: auto;
    right: 0;
    @include animation(fade-in-right-big 0.5s);
    small {
      display: inline-block;
      font-weight: bold;
      padding: 0.2em 0.6em;
      margin-left: 3px;
      background: darken($blue, 10%);
      @include animation(swing 1s 5);
    }
  }
}

.interview-data {
  dt {
    margin-top: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
  }
  dd {
    margin-top: 1.2em;
  }
}

@media (min-width: 920px) {
  .player.big .mejs-container .mejs-controls .mejs-time span  {
    position: fixed;
    top: 20px;
    right: 104px;
    font-size: 2em;
  }
  .player.big .mejs-container .mejs-controls .mejs-time .mejs-currenttime {
    right: 120px;
  }
  .player.big .mejs-container .mejs-controls .mejs-time .mejs-duration {
    right: 12px;
  }
}


