@import "variables";
@import "mixins";
@import "player";

.interview-banner {
  position: relative;
  min-height: 0;
  width: 100%;
  height: 400px;
  background: $grayDarker 50% 40% no-repeat;
  background-size: cover;
  @include transition(min-height, 2s);
  .banner-gradient {
    width: 100%;
    height: 120px;
    position: absolute;    
    left: 0;
    &.top {
      top: 0;
      @include background-gradient-opacity($grayDarkest, $grayDarkest, 0.6, 0);
    }
    &.bottom {
      bottom: 0;
      @include background-gradient-opacity($grayDarkest, $grayDarkest, 0, 0.6);
    }
  }
  .banner-title {
    padding: 12px;
    color: $white;
    font-weight: bold;
    font-size: 3em;
    @include text-shadow();    
    &.main {      
      font-size: 1.5em; 
      font-weight: normal;     
    }
    a {
      color: $grayLightest;
      &:hover {
        color: $white;
      }
    }
  }
  .banner-player {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  } 
}

.interview-data {
  dt {
    margin-top: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
  }
  dd {
    margin-top: 1.2em;
  }
}


