@import "variables";
@import "mixins";
@import "player";

#neighborhood-container {
  @include clearfix();   
}
.neighborhood-sidebar {
  background: $white;
  width: 300px;
  float: left;
  @media (max-width: 550px) {
    float: none;
    width: auto;
  }
}
.neighborhood-content {
  background: $grayLightest; 
  width: auto;
  margin-left: 300px;
  padding-bottom: 20px;
  @media (max-width: 550px) {
    margin-left: 0;
  }
}
.neighborhood-description {
  background: rgba(255,255,255,0.9);
  h1, h2, h3, h4 {
    margin-top: 0.5em;
    margin-bottom: 0;    
  }
  h4 {
    color: $gray;
    font-weight: normal;
    small {
      display: block;
      margin-bottom: 3px;
    }
  }
}

.interviews-toolbar {
  padding: 20px;
}

.search-form {
  position: relative;
  z-index: 1;
  float: left;
  width: 200px;
  overflow: visible;
  input {
    width: 100%;
    display: inline-block;
    font-size: 1.2em;
    padding: 8px 6px;
    @include box-sizing();
    @include transition(width, 0.5s);
    &:focus {
      width: 320px;
    }
  }
}
.filters-wrapper {
  position: relative;
  margin-left: 220px;  
  .filters {
    min-width: 200px;
    float: right;
  }
  h5, ul, li {
    margin: 0;
    padding: 0;
  }
  h5 {
    margin-top: 2px;
  }
  li {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
  }
  a {
    display: block;
    padding: 3px 6px;
    font-size: 12px;
    margin: 3px 3px 0 0;
    color: $white;
    background: $grayLighter;
    &:hover {
      background: $grayLight;
    }
    &.selected {
      background: $blue;
    }
  }  
}
@media (max-width: 900px) {
  .search-form {
    float: none; 
  }
  .filters-wrapper {
    margin-left: 0;
    margin-top: 20px;
    .filters {
      float: none;
      min-width: 0;
    }
  }
}

.interviews-list {
  @include clearfix();
  margin-bottom: 20px;
  > li {
    position: relative;
    float: left;
    width: 240px;
    /* height: 280px; */
    margin: 20px 0 0 20px;
    padding: 10px;
    overflow: hidden;
    background: $white;
    @include box-shadow(1px, 1px, 2px, $color: rgba(0,0,0,.2));
    @include transition-transform(0.5s);
    &:hover {
      @include box-shadow(2px, 2px, 4px, $color: rgba(0,0,0,.3));
      @include transform(translateY(-6px));
    }
    .image {
      position: relative;
      width: 100%;
      height: 240px;
      background-position: center;
      background-size: cover;
    }
    &:nth-child(6n+0) .image { 
      background-color: $grayDarker;
      color: $grayLightest;
    }
    &:nth-child(6n+1) .image  { 
      background-color: $grayLighter;
      color: $grayDarkest;
    }
    &:nth-child(6n+2) .image  { 
      background-color: $gray;
      color: $white;
    }
    &:nth-child(6n+3) .image  {
      background-color: $grayLight;
      color: $white;
    }
    &:nth-child(6n+4) .image  {
      background-color: $grayDark;
      color: $white;
    }
    &:nth-child(6n+5) .image  {
      background-color: $grayLightest;
      color: $grayDarker;
    }
  }
  &.search-results > li {
    /* height: 330px; */
  }
  .link-overlay {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    top: 0;
    left: 0;
  }
  .caption {
    padding: 15px 0 0;
    height: 40px;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    a {
      display: block;      
      color: $gray;
      font-size: 1.1em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &:hover {
        color: $grayLight;
      }
    }
    small {
      line-height: 12px;
      color: $grayLighter;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .annotations {
    padding-top: 6px;
  }
  .annotation {
    display: inline-block;
    font-size: 0.8em;
    padding: 3px 6px;
    background: $blue;
    color: $white;
    margin: 6px 6px 0 0;
  }
}

@media (max-width: 876px) {
  .interviews-list > li {
    float: none;
    margin: 20px auto 0;
  }
}
