@import "variables";
@import "mixins";

h1, h2, h3, h4 {
  margin: 1em 0;
}

p {
  font-size: 1.1em;
  line-height: 1.8;
}

p img {
  width: 90%;
  height: auto;
  border: 1px solid $grayLight;
  @include box-shadow();
}

video {
  width: 90%;
  height: auto;
  border: 1px solid $grayLight;
  @include box-shadow();
}

.button {
  padding: 0.5em 1em;
  margin: 0;
}
