// Grays
// -------------------------
$black:                 #000;
$grayDarkest:           #161514;
$grayDarker:            #3F3A34;
$grayDark:              #514E49;
$gray:                  #71695D;
$grayLight:             #908B85;
$grayLighter:           #D0CDC8;
$grayLightest:          #E8E4E2;
$white:                 #fff;

// Accent colors
// -------------------------
$blueDark:              #004963;
$blue:                  #3f9ac1;
$blueLight:             #A2D5E0;
$yellowDark:            #D75B25;
$yellow:                #FFB92D;
$yellowLight:           #FEC172;
$highlight:             #fffcad;

// Messaging colors
// -------------------------
$green:                 #989546;
$greenLight:            #E3E5A5;
$red:                   #AF2228;
$orange:                #D75B25;
$pink:                  #F1B6BB;
$purple:                #953064;